mixin action-button(ariaLabel, source, method, action, productId)
  form(action=action)
  button.btn--circular.btn--cart(type="submit") 
    span.icon(role="img", aria-label=ariaLabel)
      img.logo(src=source, alt=ariaLabel+" logo", height="24", width="24")
  input(type="hidden", value=productId, name="productId")